
<div class="row">
    <form method="post" action="/home/submit" enctype="multipart/form-data">
        <div class="col-md-6 offset-3">
            <input type="text" class="form-control" placeholder="Password" name="password" />
            <input type="file" class="form-control mt-3" name="image" />
            <button class="btn btn-info mt-3">Submit</button>
        </div>
    </form>
</div>
