@model SubmitViewModel

@{int id = Model.Image.ID; }

<div class="row mt-5">
    <div class="col-md-6 offset-3">
        <h1>Thank you for submitting a picture! This is what you should send around:</h1>
        <a href="https://localhost:7121/Home/ViewImage?id=@id">https://localhost:7121/Home/ViewImage?id=@id</a>
        <h2>the id is @Model.Image.ID</h2>
        <h3>Remember, the password is: @Model.Image.Password</h3>
    </div>
</div>