@model SubmitViewModel


<div class="row mt-5">
    <div class="col-md-6 offset-3">
        <input type="text" placeholder="Enter password" name="password-check" />
    </div>
</div>

<div class="row mt-5">
    <div class="col-md-6 offset-3">
        <img src="@Model.Image.ImagePath" />
        <h4>password being: @Model.Image.Password</h4>
        <h6>@Model.Image.ImagePath</h6>
    </div>
</div>